<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/style/style.css" />
  </head>
  <body>
    <div id="container">
      <h1>Uppgáva 1</h1>
      <input type="text" id="input-box" placeholder="Enter something" />
      <button id="add-btn">Add</button>
      <ul id="list"></ul>
    </div>
    <h1>Uppgáva 2</h1>
    <div id="color-change-box">I change color</div>
    <h1 id="remover">Uppgáva 3 (Kann slettast)</h1>
    <button id="remove-btn">Remove</button>
    <h1>Uppgáva 4</h1>
    <input type="text" id="upg4" placeholder="enter text" />
    <script src="static/js/task-list.js"></script>
  </body>
</html>
