<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <h1>{% block title %} Planets {% endblock %}</h1>
    {% for planet in planets %}
    <div class="planet">
      <p>{{ planet['created'] }}</p>
      <h2>{{ planet['planet_name'] }}</h2>
      <p>{{ planet['comment'] }}</p>
    </div>
    {% endfor %} {% endblock %}
  </body>
</html>
